@font-face{
    font-family: oldPress;
    src: url(fonts/OldPress.ttf);
}
@font-face{
    font-family:oldTypography;
    src:url(fonts/OldTypography.ttf);
}
@font-face{
    font-family:tradeGothic;
    src:url(fonts/trade-gothic-lt-std-bold.ttf);
}