html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, textarea, input, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 100%;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

img {
  width: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: oldPress;
  src: url(fonts/OldPress.ttf); }
@font-face {
  font-family: oldTypography;
  src: url(fonts/OldTypography.ttf); }
@font-face {
  font-family: tradeGothic;
  src: url(fonts/trade-gothic-lt-std-bold.ttf); }
.grid {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 1024px) {
  .grid {
    max-width: 994px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px; } }
@media (min-width: 1200px) {
  .grid {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px; } }
.header-input {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 10px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  top: 10px; }

.stop-scrolling {
  overflow: hidden;
  height: 100%; }

.header-hamb {
  position: absolute;
  width: 40px;
  height: 30px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none; }

.header-hamb__icone:nth-child(1) {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #D8D8D8;
  position: absolute;
  left: 6%;
  user-select: none;
  transition: 0.5s; }

.header-hamb__icone:nth-child(2) {
  width: 35px;
  height: 2px;
  background-color: #D8D8D8;
  position: absolute;
  top: 8px;
  right: 7%;
  transition: 1s; }

.header-hamb__icone:nth-child(3) {
  width: 35px;
  height: 2px;
  background-color: #D8D8D8;
  position: absolute;
  top: 1px;
  right: 7%;
  transition: 0.5s; }

.hamb-active .header-hamb__icone:nth-child(2) {
  opacity: 0;
  transition: 0.1s; }

.hamb-active .header-hamb__icone:nth-child(1) {
  transform: rotate(45deg);
  top: 10px; }

.hamb-active .header-hamb__icone:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px; }

@media (min-width: 768px) {
  .header-input {
    display: none; }

  .header-hamb {
    display: none; } }
.header {
  background: url(../../img/bg-menu.png);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  transition: 0.3s; }
  .header-wrapper {
    text-align: right;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }

@media (min-width: 768px) {
  .header-wrapper {
    justify-content: center; } }
.stop-scrolling {
  overflow: hidden;
  height: 100%; }

nav {
  list-style-type: none;
  color: #d5aa7d;
  font-size: 2.5rem;
  font-family: oldPress; }

.title {
  color: #3a782a;
  text-transform: uppercase;
  font-family: trade-gothic-lt-std-bold;
  text-align: center;
  font-size: 0.8rem; }

.header-nav {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  background: url(../../img/bg-menu.png);
  top: 60px;
  right: -100%;
  z-index: -1;
  transition: 1s;
  padding-top: 10px; }

.hamb-active .header-nav {
  right: 0; }

.header-nav__item:not(:last-child) {
  margin-bottom: 5px; }

.header-nav__item > a {
  padding-top: 10px;
  display: inline-block;
  color: #d5aa7d; }

.header-nav__item:last-child {
  position: relative;
  bottom: -60px;
  font-size: 1.5rem;
  max-width: 60%;
  margin: 0 auto; }

@media (min-width: 768px) {
  .header-nav {
    position: static;
    background: none;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }

  .header-nav__item {
    border-left: 2px solid #b64022;
    height: 40px;
    display: flex;
    align-items: center; }

  .header-nav__item > a {
    padding-top: 0;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    padding: 0px 20px 0; }

  .header-nav__item:not(:last-child) {
    margin-bottom: 0px; }

  .header-nav__item:last-child {
    font-size: 1rem;
    bottom: 0;
    text-align: left;
    max-width: 190px;
    padding-left: 20px;
    margin: 0; } }
.banner-logo {
  background: url(../../img/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  position: relative;
  top: 60px;
  padding-bottom: 300px;
  z-index: -1; }

.banner-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.banner-logo-figure {
  height: auto;
  text-align: center;
  width: 100%;
  margin-top: 50px; }
  .banner-logo-figure:nth-child(1) {
    margin-top: 120px; }

.banner-logo-figure > img {
  width: 200px; }

.banner-logo-terca {
  text-align: center;
  position: absolute;
  bottom: 167px;
  max-width: 65%;
  height: auto;
  margin: 0 auto;
  z-index: 2; }
  .banner-logo-terca > img {
    max-width: 350px; }

@media (min-width: 765px) {
  .banner-logo {
    background-size: 100% 100%;
    flex-direction: row; }

  .banner-logos {
    flex-direction: row;
    width: 100%;
    padding: 40px 0 10px; }

  .banner-logo-figure {
    width: 20%; }
    .banner-logo-figure:nth-child(1) {
      margin-top: 60px; }
    .banner-logo-figure:not(:last-child) {
      margin-right: 10px; }

  .banner-logo__img {
    max-width: 100%; }

  .banner-logo-terca {
    bottom: 165px;
    max-width: 50%;
    margin: 0 auto; }
    .banner-logo-terca > img {
      width: 60%;
      max-width: 70%; } }
.banner-logo-faixa {
  position: relative;
  top: -125px; }

.banner-logo-faixa > img {
  min-height: 150px; }

.banner-logo-container--left {
  position: absolute;
  min-width: 45%;
  text-align: right;
  padding: 10px;
  top: 0;
  left: 28%;
  transform: translate(-50%);
  font-family: oldPress; }

.banner-logo-container {
  line-height: 23px;
  padding-top: 2%; }

.banner-logo-container > p {
  font-size: 1rem;
  color: #d5aa7d;
  transition: 0.3s;
  text-transform: uppercase; }

.banner-logo-container__small {
  display: block;
  font-size: 0.6rem;
  line-height: 10px;
  margin-left: 48px; }

.banner-logo-container__medium {
  font-size: 0.7rem;
  display: block; }

.banner-logo-container__strong {
  font-size: 1.2rem;
  transition: 0.3s; }

.banner-logo-container--right {
  display: inline-block;
  position: absolute;
  transform: translate(-50%);
  right: -18%;
  top: 0;
  min-width: 45%;
  font-family: oldPress;
  padding: 10px; }

@media (min-width: 470px) {
  .banner-logo-container > p {
    font-size: 1.6rem;
    color: #d5aa7d; }

  .banner-logo-container__strong {
    font-size: 1.8rem; }

  .banner-logo-container__medium {
    font-size: 0.8rem; }

  .banner-logo-container__small {
    font-size: 0.7rem; } }
@media (min-width: 768px) {
  .banner-logo-container {
    line-height: 28px; }

  .banner-logo-container > p {
    font-size: 1.9rem;
    color: #d5aa7d;
    padding-top: 2%; }

  .banner-logo-container__strong {
    font-size: 2.4rem; }

  .banner-logo-container__small {
    font-size: 1rem;
    line-height: 10px;
    margin-left: 100px; }

  .banner-logo-container__medium {
    font-size: 1.6rem; }

  .banner-logo-container--right {
    padding: 5px 10px; }

  .banner-logo-container--left {
    padding: 5px 10px; } }
@media (min-width: 1024px) {
  .banner-logo-container {
    line-height: 35px; }

  .banner-logo-container > p {
    font-size: 2rem;
    color: #d5aa7d; }

  .banner-logo-container__strong {
    font-size: 2.8rem; }

  .banner-logo-container__medium {
    font-size: 1.6rem;
    margin-top: -10px; }

  .banner-logo-container__small {
    display: block;
    font-size: 1.2rem; }

  .banner-logo-faixa > img {
    height: 230px; } }
.box {
  margin-bottom: -332px; }

.box-apresentacao-figure {
  background: url(../../img/bg-apresentacao2.png) no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  z-index: -1;
  top: -250px;
  height: auto;
  position: relative; }

.box-apresentacao-container {
  position: relative;
  height: 190px;
  max-width: 80%;
  margin: 0 auto; }

.box-apresentacao-container__img1 {
  position: absolute;
  max-width: 400px;
  top: 80px;
  left: 50%;
  transform: translate(-50%); }

.box-apresentacao-container__img2 {
  position: absolute;
  top: 130px;
  max-width: 200px;
  left: 50%;
  transform: translate(-50%); }

.box-apresentacao-text {
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 150px; }

.box-apresentacao-text > p {
  font-family: tradeGothic;
  color: #ac1c0c;
  font-weight: 600;
  line-height: 20px;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto; }

.box-apresentacao-text > span {
  display: block;
  margin-top: 30px;
  font-size: 2.5rem;
  font-family: oldTypography;
  color: #ac1c0c; }

@media (min-width: 768px) {
  .box-apresentacao {
    background: url(../../img/bg-hero2.png);
    position: relative;
    width: 100%;
    top: -210px;
    z-index: -1;
    background-size: 100% 100%; }

  .box-apresentacao-container {
    top: 35px; }

  .box-apresentacao-figure {
    background-size: 100% 100%;
    background-position: center;
    top: -90px;
    min-width: 60%;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 120px; }

  .box-apresentacao-text {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 100px;
    max-width: 90%;
    margin: 0 auto; }

  .box-apresentacao-text > p {
    font-family: tradeGothic;
    color: #ac1c0c;
    font-weight: 600;
    line-height: 20px;
    font-size: 0.7rem; }

  .box-apresentacao-text > span {
    display: block;
    margin-top: 30px;
    font-size: 2.5rem;
    font-family: oldTypography;
    color: #ac1c0c; }

  .box-apresentacao-text {
    height: auto; } }
@media (min-width: 1024px) {
  .box-apresentacao-text > p {
    font-size: 0.9rem; } }
.taqueria {
  background: url(../../img/bg-classico.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 50px; }

.taqueria-figure {
  background: url(../../img/classico-logo.png) no-repeat;
  background-position: 50%;
  min-height: 110px;
  width: 100%; }

.taqueria-logos {
  max-width: 80%;
  padding: 50px 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.box-item {
  min-width: 18%;
  max-width: calc(50% - 10px);
  margin: 5px;
  cursor: pointer; }

.inusitado {
  background: url(../../img/bg-inusitados.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 40px;
  margin-top: -2px; }

.inusitado-figure {
  background: url(../../img/inusitado-logo.png) no-repeat;
  background-position: center center;
  height: 45px;
  width: 100%; }

.inusitado-items {
  max-width: 80%;
  padding: 50px 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s; }

.contact {
  background: url(../../img/bg-contato2.png) no-repeat;
  background-color: orangered;
  background-position: 52% 0%;
  position: relative;
  margin-top: -2px;
  padding: 120px 0 220px; }

.contact-form-item {
  margin: 5px; }

.contact-form-items2 > .contact-form-item {
  margin-top: 0; }

.contact-form > form {
  padding: 130px 10px 0;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contact-form-item > input {
  width: 100%;
  height: 45px;
  border: 2px solid #e25324;
  background: url(../../img/bg-contato-input2.png);
  font-family: oldPress;
  color: #e25324;
  font-size: 1.5rem;
  padding: 10px; }

::-webkit-input-placeholder {
  color: #e25324; }

.contact-form-item > textarea {
  background: url(../../img/bg-contato-input2.png);
  width: 100%;
  height: 210px;
  border: 2px solid #e25324;
  font-family: oldPress;
  padding: 10px;
  color: #e25324;
  font-size: 1.5rem;
  resize: none; }

@media (min-width: 768px) {
  .contact-form > form {
    flex-direction: row;
    max-width: 1000px; }

  .contact-form-item {
    margin: 10px; }

  .contact-form-items1 {
    width: calc(40%); }

  .contact-form-items2 {
    width: 40%; }
    .contact-form-items2 > .contact-form-item {
      margin-top: 10px;
      margin-left: 0; } }
.parceiros {
  background: url(../../img/bg-parceiros3.png) no-repeat;
  background-size: cover;
  background-position: center top;
  height: auto;
  position: relative; }

.parceiros-up-figure {
  max-width: 90%;
  margin: 0 auto; }

.parceiros-up-figure > img {
  max-width: 40%;
  width: auto; }

.parceiros-up-items__title {
  padding: 20px 0; }

.parceiros-down-items__title {
  padding: 20px 0; }

.parceiros-up-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around; }

.parceiros-up-container > img {
  margin: 20px;
  max-width: 30%;
  width: auto;
  max-height: 120px; }

.parceiros-container {
  padding: 50px 0 190px;
  text-align: center; }

.parceiros-down-logos > img {
  max-width: 30%;
  margin: 20px;
  width: auto; }

@media (min-width: 1024px) {
  .parceiros-down {
    display: flex;
    align-items: center;
    justify-content: center; }

  .parceiros-down-items {
    display: flex;
    flex-direction: column;
    width: auto; }

  .parceiros-down-logos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-right: 2px solid green; }

  .parceiros-down-items:last-child .parceiros-down-logos {
    border: none; }

  .parceiros-down-logos > img {
    max-width: 25%;
    margin: 5px;
    width: auto; } }
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center; }

.modal-container.visible {
  display: flex; }

.modal {
  background: url(../../img/bg-modal.png);
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 90%;
  height: auto;
  font-size: 0.6rem;
  padding: 10px;
  font-family: tradeGothic; }
  .modal-info {
    padding-top: 10px;
    overflow-y: auto; }
  .modal-info > p:nth-child(2) {
    padding-bottom: 20px; }
  .modal-info > p {
    padding-bottom: 10px;
    font-weight: 600; }
  .modal-info__link {
    text-decoration: underline;
    color: black;
    font-size: 1.5rem;
    font-family: oldTypography;
    font-weight: 300; }

.modal-aberto {
  font-weight: 300;
  line-height: 15px; }

.modal-figure > img {
  height: 180px; }

.modal-box {
  padding-top: 10px; }
  .modal-box-header {
    position: relative; }
    .modal-box-header__title {
      font-size: 1.5rem;
      font-weight: 300;
      font-family: oldTypography; }
    .modal-box-header__title > i {
      font-size: 1.8rem;
      padding-right: 10px; }
  .modal-box-endereco {
    background-color: rgba(2, 97, 106, 0.7);
    padding: 5px;
    line-height: 15px;
    margin-top: 10px;
    color: #3daaa8;
    font-weight: 600;
    font-size: 0.5rem;
    text-transform: uppercase; }

.modal-box-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: -30px;
  top: -180px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #3daaa8;
  cursor: pointer; }

@media (min-width: 768px) {
  .modal {
    background: url(img/bg-modal.png);
    flex-direction: row;
    font-size: 0.7rem; }

  .modal-info {
    margin-left: 10px; }

  .modal-figure {
    width: 50%;
    margin-right: 20px; }

  .modal-box {
    width: 50%;
    padding: 2% 0; }
    .modal-box-header__title {
      font-size: 1.7rem; }
    .modal-box-header__title > i {
      font-size: 1.9rem; }
    .modal-box-endereco {
      font-size: 0.5rem;
      margin-left: 10px; }

  .modal-figure > img {
    height: 100%; }

  .modal-box-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px; } }
@keyframes modals {
  0% {
    opacity: 0;
    transform: translate3d(0, -60px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.visible .modal {
  animation: modals 0.3s; }

/*# sourceMappingURL=style.css.map */
