.header-input{
        width: 40px;
        height: 30px;
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        top: 10px;
}
.stop-scrolling{
    overflow: hidden;
    height: 100%;
}
.header-hamb{
    position: absolute;
    width: 40px;
    height: 30px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}
.header-hamb__icone:nth-child(1){
    display: block;
    width: 35px;
    height: 2px;
    background-color: $whitegelo;
    position: absolute;
    left: 6%;
    user-select: none;
    transition: 0.5s;
}
.header-hamb__icone:nth-child(2){
    width: 35px;
    height: 2px;
    background-color: $whitegelo;
    position: absolute;
    top: 8px;
    right: 7%;
    transition: 1s;
}
.header-hamb__icone:nth-child(3){
    width: 35px;
    height: 2px;
    background-color: $whitegelo;
    position: absolute;
    top: 1px;
    right: 7%;
    transition: 0.5s;
}
.hamb-active .header-hamb__icone:nth-child(2){
        opacity: 0;
        transition: 0.1s;
}
.hamb-active .header-hamb__icone:nth-child(1){
        transform: rotate(45deg);
        top: 10px;
}
.hamb-active .header-hamb__icone:nth-child(3){
        transform: rotate(-45deg);
        top: 10px;
}

@media (min-width: 768px){
    .header-input{
        display: none;
    }
    .header-hamb{
        display: none;
    }
}
